/* .footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 1rem;
  width: calc( 100% - 2rem );
  
  height: 60px;
  background: linear-gradient(to left, #8c8df1, #e786f4);
} */
:root {
  --leftSize: 70%;
  --rightSize: 30%;
}

.bg-nav {
  background: radial-gradient(#3580e6, #1d4ed9);
}

header a {
  margin:auto 10px;
  cursor:pointer;
  font-size: 2em !important;
  font-weight: 900 !important;
  color: white !important;
  
}

header a:hover {
  cursor:pointer;
  font-size: 2em !important;
  font-weight: 900 !important;
  
}


.wrap {
  border-radius: 0 0 0 8px;
  padding: 0;
  margin: 0 1rem;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: radial-gradient(#3580e6, #1d4ed9);
  /* background-color: rgba(85, 85, 85, 0.451); */
}
.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
}
.highlightURL {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=FED023);
}

div.container {
  display: flex;
}
main img {
  width: 100px;
}

.logoImage{
  aspect-ratio: 2 / 1;
  height: 50px;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.gradient-custom {
  background: linear-gradient(to right, #8c8df1, #e786f4);
}

.bg-body {
  background-color: #fcfcfc;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 70%;
}

.flex-item-right {
  flex: 30%;
}

.cartMenuMax {
  padding: 2px;
  padding-bottom: 50px;
  border-radius: 0 0 8px 0;
  height: 0;
  overflow: hidden;
  position: sticky;
  top: 30px;
  width: 100%;
  transition: all 0.25s;
  box-shadow: 10px 10px 30px 3px;
  background: #F6F7FB;
}

.cartMenuMin {
  padding: 2px;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  height: 0;
  overflow: hidden;
  width: inherit;
  transition: all 0.5s;
  box-shadow: 0px 5px 20px 2px;
}

.cartMenu-hidden {
  transform: translateY(-50%) scaleY(0);
  right: 10px;
}

.pos1 {
  transition-property: all;
  transition-duration: 0.25s;
}

.poswidth1 {
  width: 70%;
}

.poswidth2 {
  width: 100%;
}

#CartIcon {
  border-radius: 20px 20px 0 0;
  padding-top: 5px;
  font-size: 15px;
  text-align: center;
  background-color: white;
  box-shadow: -2px 2px 5px;
  z-index: 1000;
}

#CloseButton {
  text-align: end;
  font-size: 24px;
  padding: 3px;
}

#BuyButton {
  padding: 5px;
  position: absolute;
  bottom: 10px;
  width: 50px;
  right: 8px;
}

#Total {
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 2px;
  font-weight: bolder;
}


.search {
  margin: 0px 0;
  width: 100%;
}

.searchTerm {
  width: 85%;
  margin-right: 0 !important;
  outline: none;
  border-radius: 0 5px 5px 5px;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding-left: 10px;
}
.searchButton {
  margin: 0;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 14%;
  margin: 0;
  color: white;
  height: 30px;
  background-color: rgb(61, 57, 57);
}
.searchButton:hover {
  transform: scale(1.05);
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 14%;
  margin: 0;
  color: white;
  height: 30px;
  background-color: rgb(152, 146, 146);
  transition: transform 0.24s;
}
.cartRight {
  width: 100%;
}

.divider {
  height: fit-content;
  text-align: center;
  padding-bottom: 0;
  /* border: 1px solid black; */
}

.KidsToysStore {
  display: block;
  /* text-align: center; */
  position: relative;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto; 
  width: 80%; /* or any custom size */
  object-fit: contain;
  z-index: 200;
}

.itemFlex {
  margin: 4px 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.contentBody {
  background-color: #F6F7FB;
}

.ItemImage {
  height: 50px;
}

.ItemTitle {
  word-break: break-all;
  /* border-radius: 0 4px 4px 0; */
  /* border: 1px solid black; */
  border-left: none;
  padding-left: 5px;
  flex: auto;
  /* background-color: black; */
}
.imgIcon {
  border-radius: 4px 0 0 4px;
  height: 100%;
}

.CartItemNumbers {
  margin: auto 3px 3px 3px;
  -moz-appearance: textfield;
  outline: none;
  height: 20px;
  font-size: 14px;
  border: inset;
  width: 42px;
}

#CartItems {
  height: calc( 100% - 50px);
  margin-bottom: 40px;
  overflow-y:scroll;
}
#CartItems::-webkit-scrollbar{
  width: 0; 
}
.cartTitle {
  font-weight: bold;
  word-wrap: break-word
}
#price::after {
  content: "$";
}
/* .CartItemNumbers::-webkit-outer-spin-button,
.CartItemNumbers::-webkit-inner-spin-button {
  outline: none;
  -webkit-appearance: none;
  margin: 0;
} */

.delIcon:hover {
  font-size: 1.05em;
  color: red;
  transition: all 0.3s;
}

.imageBack {
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  background-color: #FAFBFF;
  /* padding-top: 100% ; */
  margin: 12px;
}
.ProductImage {
  aspect-ratio: 1 / 1;
}
.PrTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.ProductDescription {
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProductCard{
  margin: 12px;
}
.PrPrice{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.PrPrice::before{
  content: '$';
}
.AddToCart{
  user-select: none;
  border: none !important;
  display: block;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight:900;
  color: white;
  background-color: #FBCE20;
  box-shadow: 1px 3px #C58D00;
  font-variant:small-caps;
  /* text-transform: uppercase; */
  position: relative;
  height: 40px;
  /* font-variant: ; */
}

.AddToCart::before{
  
  font-size: 20px;
  content: '+';
  position: absolute;
  left: 0;
  top: 1px;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  padding: 3px;
  background-color: #FBCE20;
  box-shadow: 2px 1px 1px 0.5px #C58D00;
  transition: all 0s;
}

.AddToCart:hover {
  color: white;
  background-color: #edc420;
  transition: all 0s;
  font-size: 1.1em;

}

.AddToCart:active {
  background-color: #d3af1e;
  box-shadow: 0 0;
  transform: translateY(2px);
  transition: all 0s;
}

.AddToCart:active:hover {
  background-color: #d3af1e;
  box-shadow: 0 0;
  transform: translateY(2px);
  transition: all 0s;
}
/* * {
  border: 1px solid black;
} */
@media (max-width: 768px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
  .flex-item-right {
  }
  .poswidth1 {
    width: 100%;
  }

  #cartMenu {
    position: sticky;
  }
  .flex-container {
    display: block;
  }
  .searchButton {
    transform: translateY(-2px);
    font-size: 12px;
  }
  #cartMin {
    position: sticky;
    top: 60px;
    z-index: 1000;
  }

  #CartIcon {
    margin: 2px 0;
  }

  #carouselId {
    display: none;
  }
  .KidsToysStore {
    transform: translateY(0);
  }
}
